<script>
    import "../app.css";
</script>

<header class="bg-emerald-600 py-2">
    <div class="container mx-auto px-2 flex justify-between text-white">
        <span class="font-play text-4xl">
            <a href="/">Sampleco</a>
        </span>
        <span classs="lg:hidden flex">
            <span class="flex rounded-full bg-emerald-600 p-2 transition-all transition-100 cursor-pointer self-center hover:brightness-75">
                <i class="fa-solid fa-bars"></i>
            </span>
        </span>
    </div>
</header>

<main class="">
    <slot />
</main>