<article class="relative">
    <div class="bg-emerald-500 absolute w-full h-64 z-0 flex items-center" aria-hidden="true">
        <div class="container mx-auto px-2 z-10 flex justify-center">
            <section class="relative text-white text-center text-3xl lg:text-4xl xl:text-5xl">
                A sample is more than a demonstration, it is an invitation
            </section>
        </div>
    </div>
</article>